.card {
    width: 400px;
    height: 600px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.23);
}
.card img {
    height: 380px;
}
.card p {
    font-weight: 600;
    border: 1px solid #000;
    margin-top: 10px;
}
.card h5 {
    font-size: 30px;
}
@media only screen and (min-width: 768px) and (max-width: 1400px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .card {
        width: 340px;
        height: 600px;
    }
}

@media (max-width:375px) {
    .card {
        width: 355px;
    }
}